@media screen and (max-width: 1023px) {
  .navbar .navbar-brand {
    .navbar-item:not(.is-active):not(:hover),
    .navbar-link:not(.is-active):not(:hover) {
      color: var(--bulma-scheme-main);
    }
  }
}

.internal-presentation {
  border-style: solid;
  border-color: black;
  border-width: medium;
  iframe {
    max-width: 960px;
    max-height: 100%;
  }
}
