@media screen and (max-width: 1023px) {
  .navbar .navbar-brand {
    .navbar-item:not(.is-active):not(:hover),
    .navbar-link:not(.is-active):not(:hover) {
      color: var(--bulma-scheme-main);
    }
  }
}

.ar-16-9 {
  aspect-ratio: 16 / 9;
}

.ar-4-3 {
  aspect-ratio: 4 / 3;
}

.internal-presentation {
  iframe {
    border-style: solid;
    border-color: black;
    border-width: medium;
    max-width: 960px;
    max-height: 100%;
  }
}

details.box {
  margin-top: 1em;
  margin-bottom: 1em;
}
