name: Deploy to site

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

env:
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  build:
    environment: 'production'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Asia/Tokyo"
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
      - name: Configure environment
        run: |
          task --yes setup
      - name: Build site contents
        run: |
          task image build
        env:
          SITE_BASEURL: 'https://www.attakei.net'
          SITE_ENV: 'production'
          SITE_GTAGJS_IDS: ${{ secrets.SITE_GTAGJS_IDS }}
      - uses: actions/upload-artifact@v5
        with:
          name: site-contents
          path: build/dirhtml
  upload:
    environment: 'production'
    runs-on: 'ubuntu-latest'
    needs: build
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: site-contents
          path: public
      - name: Publish
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages publish public --project-name=${{ secrets.CLOUDFLARE_PAGES_NAME }}
