name: 'Run CI jobs'

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
  workflow_dispatch:

env:
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
      - name: 'Setup env'
        run: |
          task --yes setup
      - name: Lint by pre-commit
        run: |
          lefthook run pre-commit --all-files
  test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
      - name: 'Setup workspace'
        run: |
          task --yes setup
      - name: 'Run linkcheck'
        continue-on-error: true
        run: |
          task build-linkcheck
      - name: 'Run build as html'
        run: |
          task build-dirhtml
